<!doctype html>
<html>
<head>
    <title>webapp: desks</title>
    <script src="/angular/angular.js"></script>
    <script src="/ngstorage/ngStorage.js"></script>
    <script src="/ng-dialog/js/ngDialog.js"></script>
    <script src="FileSaver.js"></script><!-- TODO: more sophisticated way -->
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/ng-dialog/css/ngDialog.css" />
    <link rel="stylesheet" type="text/css" href="/ng-dialog/css/ngDialog-theme-default.css" />
</head>
<body ng-app="desksApp">
<div class="app-container" ng-controller="DesksController as vm">
    <div class="app-title">TechDraw: Desks</div>
    <div class="toolbar">
        <div class="toolbar-button-group">
            <button type="button" ng-click="vm.open()">Open</button>
            <button type="button" ng-click="vm.save()">Save</button>
        </div>
        <div class="toolbar-button-group">
            <button type="button" ng-click="vm.newDeskPartGroup()">New group</button>
        </div>
        <div class="flex-space"></div>
        <div class="toolbar-button-group">
            <button class="secondary" type="button" ng-click="vm.generateSVG()">Generate SVG</button>
            <button class="primary" type="button" ng-click="vm.generatePDF()">Generate PDF</button>
        </div>
    </div>
    <div class="styled-g" style="flex: 1 1 0">
        <div class="properties_pane">
            <desks-editor model="vm.model"></desks-editor>
        </div>
        <div style="font-size: 0.67em" class="preview_pane">
            <div class=" content-box">
                <div class="overlay top right">
                    <input type="checkbox" ng-model="vm.formattedPreview" id="formattedPreview"/>
                    <label for="formattedPreview">Formatted preview</label>
                </div>
                <pre ng-if="!vm.formattedPreview">{{vm.model}}</pre>
                <pre ng-if="vm.formattedPreview">{{vm.model | json}}</pre>
            </div>
        </div>
    </div>
</div>
</body>
</html>