<!doctype html>
<html>
<head>
    <title>webapp: desks</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="FileSaver.js"></script><!-- TODO: more sophisticated way -->
    <script src="app.js"></script>
</head>
<body ng-app="desksApp">
<div ng-controller="DesksController as vm">
    <form  ng-submit="vm.submit()">
        <h3>Desks</h3>
        <table>
            <tr ng-repeat="desk in vm.desks">
                <td><input type="number" placeholder="a" min="1" max="10000" step="1" ng-model="desk.a" required /></td>
                <td><input type="number" placeholder="b" min="1" max="10000" step="1" ng-model="desk.b" required /></td>
                <td><input type="number" placeholder="width" min="0" max="1000" step="1" ng-model="desk.width" required /></td>
                <td>
                    <input type="checkbox" ng-model="desk.edges[0]" />
                    <input type="checkbox" ng-model="desk.edges[1]" />
                    <input type="checkbox" ng-model="desk.edges[2]" />
                    <input type="checkbox" ng-model="desk.edges[3]" />
                </td>
                <td>
                    <button type="button" ng-click="vm.removeDesk($index)">X</button>
                </td>
            </tr>
        </table>
        <div>
            <button type="button" ng-click="vm.addDesk()">Add desk</button> <input type="submit" value="Generate SVG"/>
        </div>
    </form>
    <pre>{{vm.desks | json}}</pre>
</div>
</body>
</html>