<!doctype html>
<html>
<head>
    <title>webapp: desks</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="FileSaver.js"></script><!-- TODO: more sophisticated way -->
    <script src="app.js"></script>
</head>
<body ng-app="desksApp">
<div ng-controller="DesksController as vm">
    <form  ng-submit="vm.submit()">
        <h3>Desks</h3>
        <table>
            <tr ng-repeat="desk in vm.desks">
                <td><input type="number" ng-model="desk.a" /></td>
                <td><input type="number" ng-model="desk.b" /></td>
                <td><input type="number" ng-model="desk.width" /></td>
                <td>
                    <input type="checkbox" ng-model="desk.edges[0]" />
                    <input type="checkbox" ng-model="desk.edges[1]" />
                    <input type="checkbox" ng-model="desk.edges[2]" />
                    <input type="checkbox" ng-model="desk.edges[3]" />
                </td>
            </tr>
        </table>
        <div>
            <input type="submit" value="Generate SVG"/>
        </div>
    </form>
    <pre>{{vm.desks | json}}</pre>
</div>
</body>
</html>