
<form class="styled-form" ng-submit="false">
    <div class="styled-g boxes" style="margin-bottom: 4px;">
        <div class="styled-gc-1-3">
            <div class="box">
                <h3>Materials</h3>
                <table class="input_table">
                    <thead>
                    <tr>
                        <!--<th></th>-->
                        <th>Decor</th>
                        <th>Width</th>
                        <th class="minimum"></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="material in $ctrl.model.materials">
                            <!--<td>#{{$index}}</td>-->
                            <td><input id="decor_{{$index}}" type="text" ng-model="material.decor" required /></td>
                            <td><input id="width_{{$index}}" type="number" placeholder="width" min="0" max="1000" step="1"  ng-model="material.width" required /></td>
                            <td class="minimum"><button class="button" type="button" ng-click="$ctrl.removeGroup($index)">Delete group</button></td>
                        </tr>
                </table>
            </div>
        </div>
        <div class="styled-gc-2-3">
            <div class="box">
                <h3>Desks</h3>
                <table class="input_table" style="width: 100%">
                    <thead>
                    <tr>
                        <th class="medium">Material</th>
                        <th class="medium">Key</th>
                        <th class="short">a</th>
                        <th class="short">b</th>
                        <th>Modifiers</th>
                        <th class="minimum"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="desk in $ctrl.model.desks">
                        <td><select ng-options="idx as $ctrl.computeMaterialName(option) for (idx,option) in $ctrl.model.materials"
                                    ng-model="desk.material"></select></td>
                        <td><input type="text" placeholder="key" ng-model="desk.key" /></td>
                        <td><input type="number" placeholder="a" min="1" max="10000" step="1" ng-model="desk.a" required /></td>
                        <td><input type="number" placeholder="b" min="1" max="10000" step="1" ng-model="desk.b" required /></td>
                        <td><div>
                            Edges:
                            <input type="checkbox" ng-model="desk.edges[0]" />
                            <input type="checkbox" ng-model="desk.edges[1]" />
                            <input type="checkbox" ng-model="desk.edges[2]" />
                            <input type="checkbox" ng-model="desk.edges[3]" />
                        </div></td>
                        <td><button class="button remove" type="button" ng-click="$ctrl.removeDesk(group, $index)">X</button></td>
                    </tr>
                    </tbody>
                </table>
                <div class="buttons">
                    <button type="button" ng-click="$ctrl.addDesk()">Add desk</button>
                </div>
            </div>
        </div>
    </div>
    <div class="styled-g boxes">
        <div class="styled-gc-2-3">
            <div class="box">
                <h3>Texts</h3>
                <div class="big-form">
                    <span>
                        <span><label for="title">Document title</label></span>
                        <span><input
                                id="title"
                                ng-model="$ctrl.model.documentTitle"
                                placeholder="Title at the beginning of the generated document"
                        /></span>
                    </span>
                    <span>
                        <span><label for="header">Page header</label></span>
                        <span><input
                                id="header"
                                ng-model="$ctrl.model.pageHeader"
                                placeholder="Header appearing on the top of each page"
                        /></span>
                    </span>
                    <span>
                        <span><label for="footer">Page footer</label></span>
                        <span><input
                                id="footer"
                                ng-model="$ctrl.model.pageFooter"
                                placeholder="Footer appearing on the bottom of each page"
                        /></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="styled-gc-1-3">
            <div class="box">
                <h3>Style tuning</h3>
                <div class=" small-form">
                    <span>
                        <span><label for="marginTop">Margin top</label></span>
                        <span><input id="marginTop" type="number" ng-model="$ctrl.model.pageStyle.marginTop" /></span>
                    </span>
                    <span>
                        <span><label for="marginBottom">Margin bottom</label></span>
                        <span><input id="marginBottom" type="number" ng-model="$ctrl.model.pageStyle.marginBottom" /></span>
                    </span>
                    <span>
                        <span><label for="marginLeft">Margin left</label></span>
                        <span><input id="marginLeft" type="number" ng-model="$ctrl.model.pageStyle.marginLeft" /></span>
                    </span>
                    <span>
                        <span><label for="marginRight">Margin right</label></span>
                        <span><input id="marginRight" type="number" ng-model="$ctrl.model.pageStyle.marginRight" /></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>