@import url(https://fonts.googleapis.com/css?family=Mada:400,300);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');


/*$propertiesPaneColor: #fcfcfc;*/
$labelBackgroundColor: #e4e4e4;
$inputBoxBackgroundColor: #f3f3f3;

$colorDestructive: #ff9999;

@import '_basestyle.scss';

label {
  font-family: 'Mada', sans-serif;
  font-weight: 300;
}

td {
  margin: 0;
  padding: 0;
}

$boxSpacing: 10pt;

html {
  overflow-y: scroll;
  overflow-y: hidden;
  padding: 0;
  height: 100%;
  position: relative;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  position: relative;
}

.app-title {
  margin: 0;
  padding: 8pt 24pt 4pt;
  font-family: 'Mada', sans-serif;
  letter-spacing: 4pt;
  font-size: 22pt;
  font-weight: bold;
}

input[type="submit"],
input[type="button"],
button {
  border: none;
  background: #e7e7e7;
  padding: 0.3em 0.5em;
  margin: 0.2em 0.1em;
  vertical-align: baseline;

  &.remove {
    margin: 0;
    padding: 2pt;
    width: 18pt;
    height: 18pt;
    background: $colorDestructive;
  }

  &:hover {
    background: #f3f3f3;
  }

  &:active {
    background: #dadada;
  }

  &.primary {
    background: #48b2f0;
  }
}


.buttons {
  display: flex;

  :first-child {
    margin-left: 0;
  }
  :last-child {
    margin-right: 0;
  }
}

.flex-space {
  flex: 1 1;
}

.styled-table {
  border-collapse: collapse;
  margin-bottom: 12pt;

  th {
    background: #e7e7e7;
    font-weight: bold;
  }

  td, th {
    padding: 0.2em 0.1em;
    border: solid 1px #cccccc;
    border-width: 1px 0;
  }

  td:first-child,
  th:first-child {
    border-left-width: 1px;
    padding-left: 0.3em;
  }

  td:last-child,
  th:last-child {
    border-right-width: 1px;
    padding-right: 0.3em;
  }
}

.content-box {
  /*border: solid 1px #cccccc;
  background: #f3f3f3;*/
  position: relative;
}

pre {
  white-space: pre-wrap;
}

.overlay {
  position: absolute;
  background: rgba(100,100,100,0.3);
  padding: 4pt;
  border-radius: 4pt;


  &.top {
    top: 12pt;
  }

  &.right {
    right: 12pt;
  }
}

.extra-options {
  @extend .content-box;
  @extend .styled-g;
  @extend .styled-g-2;

  padding: $boxSpacing /2;
  background: $inputBoxBackgroundColor;
  margin: 4pt 0;
}

.extra-options > span {
  position: relative;
  padding: $boxSpacing/2;

  > label {
    display: block;
    margin-bottom: $boxSpacing / 4;
    @include box-label-style;
  }

  > input {
    box-sizing: border-box;
    width: 100%;
  }
}

.desk-group {
  border-bottom: solid 1px #dedede;
  padding: 8px 0;
}

.desk-group > .content-box {
  @extend .styled-g;

  margin-top: 0;
  padding-top: 0;
}

.desk-group .content-box > div:first-child {
  @extend  .styled-gc-1-4;

  padding: 0 10px 0 0 ;

  span > * {
    display: block;
  }
}

.desk-group .content-box > div {
  @extend  .styled-gc-3-4;
}

.desk-group-title {
  font-family: 'Mada', sans-serif;
  letter-spacing: 0pt;
  word-spacing: 2pt;
  font-size: 1.1em;
  padding: 8pt 0pt;
}

.properties_pane > form > * {
  margin-bottom: 9pt;
}

.desk-group-material {
  @include box-style;

  padding: 1px;

  label {
    @include box-label-style;
  }

  input {
    @include box-input-style;

    &:focus {
      @include box-input-focus;
    }
  }

}

.desk-group-material > span {
  @extend .styled-g;
  padding: 0;
  margin: 0;

}

.desk-group-material > span > span:first-child {
  @extend .styled-gc-1-3;
  margin: 0;
  padding: 1px;
}
.desk-group-material > span > span:last-child {
  @extend .styled-gc-2-3;
  margin: 0;
  padding: 1px;
  input {
    width: 100%;
    margin: 0;
  }
}

.small-form {
  padding: 1px;
}

.small-form > span {
  @extend .styled-g;
}

.small-form > span label {
  @extend .styled-gc-1-3;
}

.small-form > span input {
  @extend .styled-gc-2-3;
}

